# crypto
privkey = "<%= private_key %>"

# db config
data_path = "./data"

[graphql]
listening_address = "0.0.0.0:8000"
graphql_uri = "/graphql"
graphiql_uri = "/graphiql"
workers = 0 # if 0, uses number of available logical cpu as threads count.
maxconn = 25000

[network]
listening_address = "0.0.0.0:1337"
rpc_timeout = 10

<% _.forEach(keypairs.keypairs, function(k) { %>
<% if(k.index !== index) { %>
[[network.bootstraps]]
pubkey = "<%- k.public_key %>"
address = "<%- k.ip %>:1337"
<% } %>
<% }); %>

[mempool]
pool_size = 20000
broadcast_txs_size = 200
broadcast_txs_interval = 200

[executor]
light = false

[logger]
filter = "info"
log_to_console = true
console_show_file_and_line = false
log_path = "./logs"
log_to_file = true
metrics = true
modules_level = { riscv_debug = "debug" }
